@keyframes bounce {
    0% {
        transform: translateY(-20px); /* Inicia un poco más arriba */
        opacity: 0; /* Comienza invisible */
    }
    50% {
        transform: translateY(0); /* Entra en su posición */
        opacity: 1; /* Se vuelve visible */
    }
    100% {
        transform: translateY(20px); /* Rebota hacia abajo */
        opacity: 0; /* Vuelve a desvanecerse */
    }
}

.contInicio {
    height: 100vh;
    width: 100%;
    position: relative; /* Necesario para posicionar la pseudocapa */
    overflow: hidden; /* Evita que la pseudocapa sobresalga */
}

.textoHome{
    display: none;
}

.contInicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/FondoIndex.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7; /* Ajusta la opacidad */
    z-index: -1; /* Coloca la pseudocapa detrás del contenido */
}

.contInicioHome {
    position: relative; /* Asegura que los elementos hijos estén encima del fondo */
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.logoInicioHome {
    display: flex;
    align-items: center;
    background-color: var(--colorGrisacio);
    border-radius: 15px;
    padding: 0px 25px 0px 0px;
    border: 1px solid F1F1F1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.logoInicioHome img {
    width: 70px;
    height: 70px;
}

.logoInicioHome p {
    font-weight: 750;
    font-size: 1.2rem;
}

.tituloHome {
    padding: 0px 5vh;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 7vh;
}

.bi-arrow-down-short {
    font-size: 5rem;
    margin-top: 7vh;
    color: var(--colorPrimario);
    display: flex;
    justify-content: center;
    animation: bounce 1.5s infinite; /* Animación continua */
}

.tituloService{
    font-size: 2rem;
    text-align: center;
    margin-top: 5vh;
}

.contenedorServices{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 5vh;
    padding: 0px 5vh;

}


.service{
    width: 100px;
    height: 100px;
    margin-bottom: 5vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    transition-duration: 0.2s;
}

.service img{
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
}

.service h3{
    text-align: center;
    color: var(--colorPrimario);
    font-weight: 800;
}

.tituloSobreNosotros{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5vh;
    color: white;
}

.contSobreNosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5vh;
}

.contSobreNosotros p{
    text-align: center;
    margin-top: 2.5vh;
    color: white;

}

.contSobreNosotros img{
    width: 90%;
    height: 50%;
    margin-top: 5vh;
    border-radius: 15px;
    filter: brightness(65%)
}

.textoContactanos{
    text-align: center;
    width: 100%;
    padding: 0px 15%;
    margin-top: 2.5vh;
    color: white;
    margin-bottom: 5vh;
}

.formularioIndex{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5vh;
}

.formularioIndex input{
    outline: none;
    color: white;
}

.formularioIndex label{
    width: 80%;
    
}

.formularioIndex input,textarea{
    width: 100%;
    background-color: var(--colorFormulario);
    border-radius: 20px;
    padding-left: 10px;
    height: 40px;
    border: none;
    
}

.formularioIndex textarea{
    height: 300px;
    padding-top: 10px;
    outline: none;
    color: white;
}

.formularioIndex button{
    width: 130px;
    height: 35px;
    border-radius: 20px;
    background-color: var(--colorFormulario);
    color: white;
    margin-bottom: 7.25vh;
    border: none;
}

.fondoGradiente{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(74,58,208,1) 32%, rgba(74,58,209,1) 100%);
}

.hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  /* Esto es opcional: para asegurar que la transición sea suave al mostrar el elemento */
  .animate__animated {
    transition: opacity 1s ease-in-out;
  }
  

@media (min-width: 356px){
    .fondoGradiente{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(74,58,208,1) 32%, rgba(74,58,209,1) 100%);
    }
}


@media (min-width: 364px){
    .service{
        height: 120px;
        width: 120px;
    }

    .tituloSobreNosotros{
        font-size: 1.75rem;
    }

    .fondoGradiente{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 27%, rgba(74,58,208,1) 34%, rgba(74,58,209,1) 100%);
    }
}

@media (min-width: 414px){
    .service{
        height: 120px;
        width: 30vw;
    }

    .contSobreNosotros{
        padding: 10vw;
    }

}

@media (min-width: 560px){
    .service{
        height: 20vh;
        width: 35vw;
    }

    .tituloSobreNosotros{
        margin-top: 10vh;
    }

    .fondoGradiente{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 22%, rgba(74,58,208,1) 28%, rgba(74,58,209,1) 100%);
    }
    
}


@media (min-width: 600px){
    .contSobreNosotros img{
        width: 70%;
    }

    .contSobreNosotros{
        padding: 5vw;
    }

    .contSobreNosotros p{
        margin-top: 0px;
        padding: 0px 5vw;
    }
}

@media (min-width: 650px){
    .service{
        width: 200px;
    }

    .contenedorServices{
        gap: 30px;
    }

    .formularioIndex label{
        width: 70%;
    }
}

@media (min-width: 760px){
    .fondoGradiente{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(74,58,208,1) 25%, rgba(74,58,209,1) 100%);
    }
}


@media (min-width: 810px){

    .service:hover{
        height: 140px;
        width: 210px;
    }

    .contInicio{
        height: 86vh;
    }

    .logoInicioHome{
        display: none;
    }

    .tituloHome{
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 10vh;
    }

    .textoHome{
        display: block;
        text-align: center;
        margin-top: 4%;
        padding: 0px 12vh;
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 15vh;
    }


    .contSobreNosotros{
        flex-direction: row;
    }

    .contSobreNosotros img{
        width: 40%;
        margin-top: 0px;
    }

    .contSobreNosotros p{
        padding: 0px 10vh;
        font-size: 1.1rem;
        line-height: 35px;
    }

    .formularioIndex textarea{
        height: 200px;
    }

    .fondoGradiente{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(74,58,208,1) 30%, rgba(74,58,209,1) 100%);
    }

    .service{
        height: 130px;
    }

    .contInicio::before{
        background-image: url(../../assets/img/FondoIndexDesktop.jpg);
    }
}

@media (min-width: 945px){
    .contenedorServices{
        padding: 0px 15vw;
    }
}

@media (min-width: 1100px){
    .contenedorServices{
        padding: 0px 20%;
    }

    .contSobreNosotros img {
        width: 30%;
        margin-right: 15vh;
    }
}
