.navbarSecretario{
    height: 10vh;
    width: 100%;
    padding: 5px 10px;
    background-color: var(--colorPrimario);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedorNombreSecretario{
    padding: 5px 10px;
    border-radius: 16px;
    background-color: transparent;
    border: solid 1px white;
}

.contenedorNombreSecretario span{
    font-size: 0.8rem;
    color: white;
}

.contenedorLogoSecretario{
    display: flex;
    background-color: white;
    padding: 4px 8px; 
    border-radius: 16px;
}

.contenedorLogoSecretario img{
    width: 20px;
    height: 20px;
}

.contenedorLogoSecretario span{
    font-size: 0.9rem;
}

@media (min-width: 375px){
    .contenedorLogoSecretario{
        padding: 6px 12px; 
        display: flex;
        align-items: center;
    }

    .contenedorLogoSecretario img{
        width: 25px;
        height: 25px;
    }

    .contenedorLogoSecretario span{
        font-size: 1rem;
    }
}

@media (min-width: 578px){
    .navbarSecretario{
        padding: 5px 5vw;
    }
}