:root{
  --colorPrimario: #4A3AD1;
  --colorPrimarioSuave: #8E94F2;
  --colorGrisacio: #F1F1F1;
  --colorFormulario: #352525;
  --colorBordeInput: #979797;
}

*{
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}


a{
  text-decoration: none;
}

/* ICONOS */
.icono-boxeo {
  width: 40px;
  height: 40px;
}

.icono-eliminar {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: red;
}

.icono-calendario {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.icono-flecha {
  width: 15px;
  height: 15px;
}