:root{
  --colorPrimario: #4A3AD1;
  --colorGrisacio: #F1F1F1;
  --colorFormulario: #352525;
}

*{
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}


a{
  text-decoration: none;
}