/* Contenedores principales */
.contenedor-admin {
  display: flex;
  flex-direction: column;
  background-color: var(--colorGrisacio);
}

.contenedor-servicios-admin {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

/* Grid Layout */
.grid-servicios-admin {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 0.5fr);
  margin-top: 10px;
  row-gap: 30px;
}

/* Desplegables */
.contenedor-desplegable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.desplegable-grid-servicios-admin {
  margin-left: 5%;
  padding: 10px 0;
}

.desplegable-grid-servicios-admin h2 {
  font-size: 1.2rem;
  margin: 0;
}

.desplegable-grid-servicios-admin,
.desplegable-fechas-admin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
}

/* Estilos del formulario */

.formulario-servicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:30px;
  margin-left: 8%;
  gap: 40px;
}
.formulario-detalles-servicio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
  gap: 20px;
}

.campo-formulario-servicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-width: 500px;
  gap: 20px;
  margin-bottom: 20px;
}

.label-formulario-servicio {
  width: 150px; /* Ajusta este valor según sea necesario */
  text-align: left;
  margin-right: 10px;
}

.input-formulario-servicio {
  flex: 1;
  padding: 10px;
}

/* Seleccion de la modalidad */
.formulario-servicio-modalidad {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

/* Seleccion en el calendario */
.campo-fechas-servicio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.calendar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para las fechas */
.lista-fechas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.fecha-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  gap: 5px;
}

.fecha-item:last-child {
  border-bottom: none;
}

.fecha-con-eliminar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  gap: 10px;
}

/* Calendario */
.horario-item {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.agregar-horario-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.input-horario {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.selected-day {
  background-color: var(--colorPrimarioSuave) !important;
  color: white !important;
  border-radius: 30% !important;
}

.eliminar-fecha {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.eliminar-fecha:hover {
  text-decoration: underline;
}

/* Estados para el boton de guardar servicio */

.contenedor-boton-accion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
.boton-disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.boton-disabled:hover {
  background-color: var(--colorPrimario) !important;
  color: #fff !important;
  border: none !important;
}

/* Footer */
.footer-simple {
  background-color: var(--colorPrimario);
  color: #fff;
  padding-left: 5px;
}

.footer-simple p {
  font-size: 0.8rem;
}

/* Estilos para el selector de iconos */
.selector-icono-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.selector-icono-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icono-opcion {
  cursor: pointer;
}

.icono-seleccionado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--colorPrimario);
  border-radius: 10px;
  cursor: pointer;
}

.icono-seleccionado p {
  margin: 0;
  font-size: 0.7rem;
}

.icono-seleccionado img {
  width: 90%;
  height: 90%;
}

.close-selector-icono {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-selector-icono:hover,
.close-selector-icono:focus {
  color: var(--colorPrimario);
  text-decoration: none;
}

.fechas-horas-servicio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

/* From Uiverse.io by spj2401Dev */
.button-group {
  flex-grow: 1;
  margin: auto;
}

.button-group input[type="checkbox"] {
  display: none;
}

.button-group label {
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  border: 1px solid #2b426d;
  background-color: white;
  color: black;
  border-radius: 15px;
  transition: all ease 0.2s;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  width: 90px;
  font-size: 13px;
  margin: 5px;
  box-shadow: 0px 0px 50px -15px #000000;
}

.button-group input[type="checkbox"]:checked + label {
  background-color: var(--colorPrimario);
  color: white;
  border: 1px solid #2b426d;
}

fieldset {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos inputs horarios */
.contenedor-horarios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.contenedor-horarios p {
  margin-left: 10px;
}

.formulario-horarios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.campo-horario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-horario {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100px;
}