.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--colorPrimario);
    color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 3;
}

.linksNavbar{
    position: relative; /* Necesario para el pseudo-elemento */
    color: white;
    text-decoration: none; /* Sin subrayado predeterminado */
    transition: color 0.5s; /* Transición para el color del texto */
}

.linksNavbar::after {
    content: ""; /* Pseudo-elemento vacío */
    position: absolute;
    left: 0;
    bottom: -3px; /* Línea justo debajo del texto */
    width: 0; /* Ancho inicial */
    height: 2px; /* Grosor de la línea */
    background-color: white; /* Color del subrayado */
    transition: width 0.5s ease; /* Animación del ancho */
}

.linksNavbar:hover {
    color: white;
}

.linksNavbar:hover::after {
    width: 100%;
}

/* Estilo adicional para Pedir Turno si es necesario */
.navPedirTurno:hover {
    background-color: white; /* Ejemplo: cambiar fondo al hacer hover */
    color: var(--colorPrimario); /* Cambiar color del texto */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.bi-moon-fill {
    font-size: 1.5rem;
    margin-right: 20vw;
}

.bi-brightness-low-fill {
    font-size: 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logoimg {
    width: 40px;
    height: 40px;
}

.menuIcon {
    width: 30px;
    height: 30px;
}

.navbarExpand {
    height: 45vh;
    display: block;
}

.listaNavBar {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.listaNavBar a {
    display: flex;
    align-items: flex-end;
}

.menuCerrarIcon {
    display: none;
    width: 30px;
    height: 30px;
}

.listaNavBar img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.modoOscuroContenedor {
    display: flex;
    align-items: center;
}

.cerrarMenuContenedor {
    display: flex;
    justify-content: center;
    margin-left: 45px;
    margin-top: 10px;
}

.navPedirTurno {
    display: block; 
    text-align: center;
    justify-self: start;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.buttonModoOscuroOn{
    background: none;
    border: none;
    color: #6C757D;
}

.buttonModoOscuroOn,
.buttonModoOscuroOff {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.buttonModoOscuroOn {
  color: #6C757D; /* Gris por defecto */
}

.buttonModoOscuroOn.active {
  color: #C0C0C0; /* Amarillo si está activo */
}

.buttonModoOscuroOff {
  color: #6C757D; /* Gris por defecto */
}

.buttonModoOscuroOff.active {
  color: #FFC107; /* Amarillo si está activo */
}


@media (min-width: 370px) {
    .listaNavBar {
        gap: 20px;
    }
}

@media (min-width: 650px) {
    .listaNavBar {
        padding-left: 10%;
    }

    .logo p {
        font-size: 1.1rem;
    }
}

@media (min-width: 810px) {
    .navbar {
        position: static;
        height: 14vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .menuIcon {
        display: none;
    }

    .listaNavBar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 30px;
    }

    .bi-moon-fill {
        margin-right: 0px;
    }

    .cerrarMenuContenedor {
        display: none;
    }

    .listaNavBar img, .divRaroNavbar {
        display: none;
    }

    .logo {
        margin-left: 5vh;
        background-color: var(--colorGrisacio);
        border-radius: 15px;
        border: 1px solid var(--colorGrisacio);
        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.158);
    }

    .logo p {
        width: 130px;
        color: black;
        font-weight: 750;
    }

    .modoOscuroContenedor {
        justify-self: end;
    }
}

@media (min-width: 930px) {
    .modoOscuroContenedor {
        margin-left: 10vh;
        gap: 30px;
    }
}
