.navbarProfesional{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--colorPrimario);

    height: 10vh;
}

.logoutOption{
    position: absolute;
    top: 45px; /* Ajusta según el diseño */
    background-color: white;
    border: 1px solid var(--colorPrimario);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: var(--colorPrimario);
    cursor: pointer;
    z-index: 10;
}


.navbarProfesionalEnlaces{
    display: flex;
    justify-content: space-around;
    gap: 2px;
    width: 100%;
}

.navbarProfesionalEnlaces span{
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid white;
}

.contenedorLogoProfesional{
    width: 200px;
    display: none;
    align-items: center;
    background-color: white;
    padding: 4px 8px; 
    border-radius: 8px;
}

.contenedorLogoProfesional img{
    width: 20px;
    height: 20px;
}

.contenedorLogoProfesional span{
    font-size: 0.9rem;
}

@media (min-width: 460px){

    .contenedorLogoProfesional img{
        width: 30px;
        height: 30px;
    }
    
    .contenedorLogoProfesional span{
        font-size: 1rem;
    }

    .contenedorLogoProfesional{
        padding: 2px 10px;
    }
    
    .navbarProfesional{
        padding: 5px 5vw;
    }

    .navbarProfesionalEnlaces span {
        gap: 2.5vw;
        padding: 0px 10px;
        width: 90px;
        transition: background-color 0.5s, color 0.5s;
    }
    
    .navbarProfesionalEnlaces span:hover {
        background-color: white;
        color: var(--colorPrimario);
        cursor: pointer; 
    }
}

@media (min-width:570px){
    .contenedorLogoProfesional{
        display: flex;
    }

    .navbarProfesionalEnlaces{
        justify-content: start;
        gap: 20px
        ;
    }
}